tr.struck > td {
	text-decoration: line-through;
	color: var(--text-main);
}

tr.struck > td > span.struck {
	color: #f00;
}

/* .red {
	color: #f00;
} */

/* oh boy I wish I couldn't write CSS like this!! */

.beeg {
	font-size: 11rem;
	position: absolute;
	transform: translateY(-11rem);
}

a.skip {
	position: absolute;
}

a.skip:not(:focus) {
	transform: translateY(-25rem);
	transition: 0.3s;
}

a.skip:focus {
	transform: translateY(-1rem);
	transition: 0.3s;
}

.house {
	color: hsl(235, 61%, 55%);
}
