.h7 {
	font-style: italic;
	font-size: 69%; /* it's basically 2/3 */
	margin-bottom: 0;
	margin-top: 30px;
	/* text-decoration-style: wavy !important; */
}

p:not(.h7) {
	margin-top: 1ex; /* half an em */
}

img {
	width: 50%;
	border-radius: 18px;
}

img.oceania {
	height: 5em;
	width: 5em;
}
