/*   import hell   */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter&display=swap");
/* end import hell */

:root {
	--flame-orange: hsl(15, 61%, 51%);
	/* --white: hsl(49, 60%, 93%);
	--black: hsl(126, 42%, 5%); */

	--grey: hsl(49, 2%, 65%);

	--kelly-green: hsl(101, 48%, 44%);
}

body.dark {
	--white: hsl(49, 60%, 93%);
	--black: hsl(126, 42%, 0%);

	--lapis-blue: hsl(209, 61%, 75%);
	--jonquil-yellow: hsl(47, 80%, 35%);
}

/* body:not(.dark) {
	--white: hsl(126, 42%, 0%);
	--black: hsl(49, 60%, 93%);
} */

/*   aminations   */
@keyframes rainbow {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

@keyframes sweden {
	0% {
		color: #006aa7;
	}

	50% {
		color: #ffcd00;
	}

	100% {
		color: #006aa7;
	}
}
/* end animations */

:not(.easter-egg)::selection {
	background: var(--jonquil-yellow);
}

/* waiting for the day when selection background animation ;-; */
.easter-egg::selection {
	animation: rainbow 5s infinite;
}

.orange {
	color: var(--flame-orange);
}

.blue {
	color: var(--lapis-blue);
}

.green {
	color: var(--kelly-green);
}

.yellow {
	color: var(--jonquil-yellow);
}

.black {
	color: var(--black);
}

.white {
	color: var(--white);
}

.rainbow {
	animation: rainbow 1s infinite;
}

.sweden {
	animation: sweden 1s infinite;
}

a {
	text-decoration: none;
	color: var(--lapis-blue);
}

a:not(:hover) {
	border-bottom: calc(1rem / 7) dotted;
	transition: 50s;
	/* I still have no idea how this only takes like half a second but oh well */
}

a:hover {
	border-bottom-style: solid;
	/* 👀 */
	font-size: 69rem;
	border-bottom-width: 10rem;

	transition-property: font-size border-bottom-width;
	transition: calc(6969s / 7);
}

/* section off I guess */

body {
	background-color: var(--black);
	color: var(--white);
	font-family: "Inter", sans-serif;

	margin-top: 2rem;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 2rem;
}

main {
	margin: 2rem;
}

pre {
	padding: 1rem;
	border: 1px solid var(--grey);
}

.highlight {
	border-bottom: calc(1rem / 7) dotted var(--jonquil-yellow);
}

footer {
	margin-top: 75vh;
	text-align: center;
	font-style: italic;
	color: var(--grey);
}

footer > a {
	font-size: 1.5ex;
}

/*   theme toggle   */
div.theme-toggle {
	/* position: fixed; */
	/* top: 3em; */
	/* right: 3em; */
	float: right;
	border: none;
}

div.theme-toggle:not(:hover) {
	transform: scale(1.75);
	transition: 420.69ms;
}

div.theme-toggle:hover {
	transform: scale(calc(1.75 * 6 / 5));
	transition: 420.69ms;
}

div.theme-toggle:hover > button > img {
	cursor: pointer;
}

div.theme-toggle > button {
	background-color: transparent;
	border: 0;
	padding: 0;
}
/* end theme toggle */

code {
	font-family: "Fira Code", monospace;
	font-size: 1.1rem;
}

nav {
	/* display: flex; */
	display: none;
	align-items: center;
	justify-content: space-between;

	border: 10px groove var(--white);
	padding: 1rem;
}

nav > .breadcrumbs {
	font-size: 1.5rem;
	border-bottom: 3px solid var(--white);
}

nav > .breadcrumbs:hover {
	border-bottom: 3px solid var(--black);
}

nav > .breadcrumbs > a {
	color: var(--white);
}

nav > .breadcrumbs:not(:hover) {
	border-bottom: 3px solid var(--black) !important;
	transition-property: color;
	transition: 0.5s;
}

/* fix the scaling thing */
nav > .breadcrumbs > a:hover {
	font-size: inherit;

	border-bottom: 3px solid var(--white) !important;
	transition-property: color;
	transition: 0.5s;
}

.header-image {
	position: absolute;
	width: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: -1;
	filter: brightness(50%);
}

.header-image > image {
	width: 100%;
	height: auto;
}

main {
	background-color: #0004;
	padding: 10px;
	
}
