@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
	/* from https://draculatheme.com/contribute#color-palette */
	--background: #282a36;
	--backbackground: hsl(230, 15%, 15%);
	--pagebackground: hsl(230, 15%, 16.5%);
	--current-line: #44475a;
	--foreground: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;
}

* {
	/* haha funny troll; loads comic sans for a split second if you don't have roboto slab cached (: */
	font-family: "Roboto Slab", "Comic Sans", "Comic", cursive, sans-serif;
}

.watermark {
	position: fixed;
	top: 0;
	left: 0;
	width: auto;
	height: 3%;
}

.flex-wrapper {
	display: flex;
}

nav > .flex-wrapper {
	justify-content: space-around;
	align-items: baseline;
	margin: 5px;
}

nav {
	margin: 10%;
	border: 1px solid var(--current-line);
	border-radius: 5px;
}

.navbar-item {
	padding: 1.5rem;
	border: none !important;
}

.navbar-item:hover {
	background-color: var(--backbackground);
	border-radius: 5px;
	font-size: 24px;
	transition-property: background-color font-size;
	transition: 0.15s;
}

.navbar-item:not(:hover) {
	background: #0000;
	transition: 0.3s;
}

.navbar-link.selected {
	/* something interesting */
	color: var(--green);
	font-weight: 900;
}

.cyan {
	color: var(--cyan);
}

.green {
	color: var(--green);
}

.orange {
	color: var(--orange);
}

.pink {
	color: var(--pink);
}

.purple {
	color: var(--purple);
}

.red {
	color: var(--red);
}

.yellow {
	color: var(--yellow);
}

.content {
	padding: 2rem;

	border-radius: 5px;
	background-color: var(--pagebackground);
}

header > h1 {
	text-align: center;
}

.contact {
	text-align: center;
}

.contact-list {
	/* display: flex;
	flex-direction: row; */
	justify-content: space-around;

	list-style: none;
}

.contact-item > a > img {
	height: 48px;
	width: auto;
}

.css-credits {
	/* scale down (or up) font size to fit 100% width */
	font-size: calc(100% - 1px);
}

img.emoji {
	width: 1rem;
	height: 1rem;
}

.test {
	color: red;
}

.fun-stuff:not(:hover) {
	border-bottom: dotted 3px;
}

.fun-stuff:hover {
	/* text-decoration: underline; */
	border-bottom: solid 3px;
	cursor: pointer;
}

.progress-container {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	backdrop-filter: blur(8px);
	z-index: 1000;
}

/* Rest of your CSS code */

.progress-bar {
	width: 80%;
}
