@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {

	/* from https://draculatheme.com/contribute#color-palette */
	--background: #282A36;
	--backbackground: hsl(230, 15%, 15%);
	--current-line: #44475A;
	--foreground: #F8F8F2;
	--comment: #6272A4;
	--cyan: #8BE9FD;
	--green: #50FA7B;
	--orange: #FFB86C;
	--pink: #FF79C6;
	--purple: #BD93F9;
	--red: #FF5555;
	--yellow: #F1FA8C;
}

* {

	font-family: 'Roboto Slab', 'Comic Sans', 'Comic', cursive, sans-serif;
}

.watermark {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 3%;
}

.flex-wrapper {
	display: flex;
}

nav > .flex-wrapper {
	justify-content: space-around;
	align-items: baseline;
	margin: 5px;
}

nav {
	margin: 10%;
	border: 1px solid var(--current-line);
	border-radius: 5px;
}

.navbar-item {
	padding: 1.5rem;
	border: none !important;
}

.navbar-item:hover {
	background-color: var(--backbackground);
	font-size: 24px;
	transition-property: background-color font-size;
	transition: 0.15s;
}

.navbar-item:not(:hover) {
	background: #0000;
	transition: 0.3s;
}

.navbar-item.selected > a {
	/* something interesting */
	color: var(--green);
	font-weight: 900;
}


.cyan {
	color: var(--cyan);
}

.green {
	color: var(--green);
}

.orange {
	color: var(--orange);
}

.pink {
	color: var(--pink);
}

.purple {
	color: var(--purple);
}

.red {
	color: var(--red);
}

.yellow {
	color: var(--yellow);
}
